/* Google fonts Bangers */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
  --first-color: #ca0505;
  --second-color: #0808ac;
  --third-color: #686868;
  --fourth-color: #961010;
  --font: 'Bangers', Cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--font);
  background-color: var(--third-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: black;
  padding: 20px;
}

.Header h1 {
  color: var(--first-color);
  font-size: 50px;
}

.link a {
  text-decoration: none;
  color: white;
}

.link {
  font-size: 20px;
  padding: 10px;
  
}

.searchPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.searchForm {
  margin: 20px;
}

.searchForm button {
  border: 1px solid black;
  border-radius: 3px;
  background-color: black;
  color: white;
  font-family: var(--font);
  font-size: 20px;
  text-align: center;
  padding: 7px;
}

.searchForm button:hover {
  cursor: pointer;
}

.searchForm button:focus {
  outline: none;
}

.bar input {
  border: 1px solid black;
  font-size: 20px;
  font-family: var(--font);
  padding: 7px;
}

.bar input[type=text]:focus {
 outline-width: 0;
}

.Info {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Info  p {
  display: inline;
  font-size: 25px;
  margin: 5px;
}

.Info h3 {
  color: var(--second-color);
  font-size: 40px;
  margin: 5px;
}
.Info h5 {
  color: var(--fourth-color);
  font-size: 30px;
  margin: 4px;
}

.picture > img {
  width: 400px;
  border: 3px solid black;
  border-radius: 5px;
}

footer {
  position: static;
  width: 100%;
  background-color: black;
  bottom: 0;
  color: white;
  text-align: center;
  padding: 15px;
}

@media screen and (max-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: black;
    padding: 10px;
  }

  .link a {
    text-decoration: none;
    color: white;
  }
  
  .link {
    font-size: 15px;
    padding: 10px;
    
  }

  .Header h1 {
    color: var(--first-color);
    font-size: 20px;
  }
  footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    position: static;
    font-size: 10px;
  }

  .searchPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .picture > img {
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
  }

  .Info {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .Info  p {
    display: inline;
    font-size: 15px;
    margin: 5px;
  }
  
  .Info h3 {
    color: var(--second-color);
    font-size: 30px;
    margin: 5px;
  }
  .Info h5 {
    color: var(--fourth-color);
    font-size: 20px;
    margin: 4px;
  }
  
}